<%#= turbo_frame_tag "post-form" do %>
  <%#= link_to "New Post", new_post_path %>
<%# end %>
<% if user_signed_in? %>
  <div class="row">
    <div class="col-md-12 mt-4 new-post">
      <div class="row col-md-8 offset-md-2 pt-2 pb-2 border rounded">
        <div id="post-form">
          <%= render partial: "posts/form", locals: {post: @post} %>
        </div> 
      </div>
    </div>
  </div>
<% end %>
<div id="posts">
  <%= render @posts %>
</div>