<div class="row list-container">
  <div class="col-md-4 h-100 border">
    <% @musics.each do |music|%>
      <%= render music %>
    <% end %>
  </div>
  <div class="col-md-8 h-100 border">
    <p>Lyric</p>
    <div id="lyric"></div>
  </div>
</div>